.container-card {
  .image {
    margin-top: 1rem;
    position: relative;

    &>a {
      background-color: antiquewhite;
      bottom: 0;
      left: 0;
      padding: 0.5rem;
      position: absolute;
      transition: all 0.6s ease;
    }

    &>a:hover {
      transition: all 1s ease;
    }
  }
}

.container__card {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  margin: 0 auto;
  max-width: 1050px;
  place-content: center;
}

.bg-image {
  width: 18rem;
}

.miCard {
  background-color: #f2ebeb;
  color: #fff;
  height: 30rem;
  width: 19rem;
  padding: 1rem 1rem;
  color: #080808;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  .container__imgProducto{
    img{
      border-radius: 0.3rem;
    }
  }
}

.logo__card {
  width: 70px;
  height: 70px;
}

.container_card__btn>button {
  background: #FFF;
  border: none;
  color: #C29B80;
  margin-left: .4rem;
}

.container_card__btn>button:hover {
  background: linear-gradient(352deg, #fff 0%, #F4E7DA 51%, #adabaa);
  transition: all 10s ease;
}

.modal-producto {
  color: #080808;
}

.imgLogoCard {
  margin-bottom: .4rem;
  width: 150px;
}