.bi--icon-compra {
  background-color: rgba(204, 204, 204, 0.551);
  border-radius: 50%;
  color: #ff5f6d;
  padding: 0.8rem; }

.btn-warning {
  background: #ff5f6d;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffc371, #ff5f6d);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffc371, #ff5f6d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  border-radius: 0;
  color: #fff;
  padding: 1rem;
  width: 10rem; }
  .btn-warning.btn--footer {
    height: 4rem; }

.bg--btnCard {
  background-color: #ffffff !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; }

.btn-primary {
  background: linear-gradient(to right, #ffc371, #ff5f6d);
  border: none; }
